{% extends "Master/MicroTemplate.html.twig" %}
{% block css %}
    <link rel="icon" type="image/png" href="{{ asset('/Dinamic/Assets/Images/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}">
    <!--===============================================================================================-->
{#    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">#}
{#    <!--===============================================================================================-->#}
{#    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">#}
{#    <!--===============================================================================================-->#}
{#    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">#}
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('/Dinamic/Assets/CSS/NeoTheme/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/Dinamic/Assets/CSS/NeoTheme/util.css') }}">
    <!--===============================================================================================-->

{% endblock %}

{% block fullBody %}
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="/Dinamic/Assets/Images/NeoTheme/logo_bitmedia.png" alt="Logo bitmedia">
                </div>

                <form class="login100-form validate-form" action="{{ asset('') }}" method="post">
					<span class="login100-form-title">
						Iniciar sesión
					</span>

                    <div class="wrap-input100 validate-input" data-validate = "El usuario es requerido">
                        <input class="input100" type="text" name="fsNick" maxlength="50" autofocus="" placeholder="{{ trans('user') }}">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "{{ trans('password') }} is required">
                        <input class="input100" type="password" name="fsPassword" placeholder="{{ trans('password') }}">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            {{ trans('login') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('/Dinamic/Assets/JS/NeoTheme/popper.min.js') }}"></script>
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
{#    <script src="vendor/select2/select2.min.js"></script>#}
{#    <!--===============================================================================================-->#}
{#    <script src="vendor/tilt/tilt.jquery.min.js"></script>#}
{#    <script >#}
{#        $('.js-tilt').tilt({#}
{#            scale: 1.1#}
{#        })#}
{#    </script>#}
    <!--===============================================================================================-->
    <script src="{{ asset('/Dinamic/Assets/JS/NeoTheme/main.js') }}"></script>

    {{ debugBarRender.render() | raw }}
    </body>
    </html>
{% endblock %}